.math-container {
  display: flex;
  justify-content: center;
  padding-top: 1em;
  flex-direction: column;
  align-items: center;
}

.questions-section {
  display: flex;
  width: 80vw;
  flex-wrap: wrap;
  flex-direction: column;
}

.questions-section input {
  width: 60px;
  background-color: var(--primaryColor);
  font-size: 1em;
  border: none;
  font-family: var(--displayFont);
  box-shadow: var(--mainBlack) 0px 2px;
  -webkit-appearance: none;
  -moz-appearance: textfield;
  margin: 0;
}

input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.question {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(5, 1fr);
  justify-content: space-evenly;
  margin: 1em;
  font-size: 1.5em;
  justify-items: center;
  align-items: center;
}

.answer-section {
  text-align: center;
}

#answer-button {
  display: inline-block;
  padding: 0.35em 1.2em;
  border: 0.1em solid var(--mainBlack);
  margin: 1em;
  border-radius: 0.12em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: var(--bodyFont);
  font-weight: 300;
  color: var(--mainBlack);
  text-align: center;
  transition: all 0.2s;
  background-color: var(--primaryColor);
  font-size: 1.1em;
}

#answer-button:hover {
  color: var(--mainWhite);
  background-color: var(--mainBlack);
  cursor: pointer;
}

@media all and (max-width: 30em) {
   #answer-button {
    display: block;
    margin: 0.4em auto;
  }
}

#refresh-button {
  display: inline-block;
  padding: 0.35em 1.2em;
  border: 0.1em solid var(--mainWhite);
  margin: 1em;
  border-radius: 0.12em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: var(--bodyFont);
  font-weight: 300;
  color: var(--mainWhite);
  text-align: center;
  transition: all 0.2s;
  background-color: var(--primaryColor);
  font-size: 1.1em;
}

#refresh-button:hover {
  color: var(--mainBlack);
  background-color: var(--mainWhite);
  cursor: pointer;
}

@media all and (max-width: 30em) {
   #refresh-button {
    display: block;
    margin: 0.4em auto;
  }
}

#result {
  font-family: var(--displayFont);
  font-size: 2em;
  margin-top: 1em;
  text-shadow: #ffffffc2 0px 0px 4px;
}
