* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primaryColor: #d8890a;
  --mainWhite: #fff;
  --offWhite: #e5e5e5;
  --mainBlack: #222;
  --blue: #14213d;
  --mainTransition: all 0.3s linear;
  --mainSpacing: 3px;
  --lightShadow: 2px 5px 3px 0px rgba(0, 0, 0, 0.5);
  --darkShadow: 4px 10px 5px 0px rgba(0, 0, 0, 0.5);
  --bodyFont: 'Montserrat', sans-serif;
  --displayFont: 'Kalam', cursive;
}

body {
  font-family: var(--bodyFont);
  line-height: 1.4;
  background-color: var(--primaryColor);
}

h2 {
  font-size: 2em;
  margin-bottom: 0.75em;
  font-family: var(--displayFont);
}
